.balloon {
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 10em;
  left: 5em;
}

.head {
  z-index: 2;
  background-image: url("../images/coloured-balloon.svg");
  -webkit-animation: head 4s ease-in-out infinite;
  animation: head 4s ease-in-out infinite;
}

.string {
  z-index: 2;
  background-image: url("../images/balloon-string.svg");
  animation: head 4s ease-in-out infinite;
}

.head-shadow {
  z-index: 2;
  background-image: url("../images/balloon-head-shadow.svg");
  animation: shadow 4s ease-in-out infinite;
}

.string-shadow {
  z-index: 2;
  background-image: url("../images/balloon-string-shadow.svg");
  animation: shadow 4s ease-in-out infinite;
}

.balloon-main {
  animation: main 4s ease-in-out infinite;
}

/* .burst {
  z-index: 1;
  background-image: url("../images/burst.svg");
  animation: burst .2s 3.8s ease-in-out infinite;
} */

@keyframes head {

  0% {
    top: 12.5em;
    left: 5em;
    fill: #f49f30;
  }

  10% {
    top: 12.25em;
    left: 5.2em;
  }

  20% {
    top: 12em;
    left: 5em;
  }

  30% {
    top: 11.75em;
    left: 5.2em;
  }

  40% {
    top: 11.5em;
    left: 5em;
  }

  50% {
    top: 11.25em;
    left: 5.2em;
    fill: #f42f53;
  }

  60% {
    top: 11em;
    left: 5em;
  }

  70% {
    top: 10.75em;
    left: 5.2em;
  }

  80% {
    top: 10.5em;
    left: 5em;
  }

  90% {
    top: 10.25em;
    left: 5.2em;
  }

  100% {
    top: 10em;
    left: 5em;
  }

}

@keyframes main {

  0% {
    opacity: 1;
    transform: scale(1);
  }

  95% {
    opacity: 1;
    transform: scale(1.1);
  }

  98% {
    opacity: 1;
    transform: scale(.7);
  }

  100% {
    opacity: 0;
    transform: scale(.5);
  }

}

@keyframes shadow {

  0% {
    filter: blur(0);
    transform: scale(1);
  }

  90% {
    transform: scale(1);
  }

  100% {
    filter: blur(3px);
    transform: scale(.6);
  }

}
/*
@keyframes burst {

  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  98% {
    opacity: 1;
    transform: scaleY(1.5);
    transform: scaleX(1.5);
  }

  100% {
    opacity: 0;
  }

} */
